@charset "UTF-8";
*{
	
}

.uploadList ul li {
	list-style: none;
	padding: 10px;
}

.uploadList ul li img {
	width: 300px;
	height: 300px;
}
#replies{
	list-style: none;
}
#replyPage{
		list-style: none;
	display: flex;
}
#replyPage li{
	width: 20px;
}