<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="org.jin.mapper.MemberMapper">
  	<insert id="createMember">
  		insert into tbl_member(userid,userpw,username,email) 
  		values(#{userid}, #{userpw},#{username},#{email})
  	</insert>
  	
  	<select id="readMember" resultType="org.jin.mapper.MemberVO">
  		select * from tbl_member where userid=#{userid}
  	</select>
  	
  	<select id="readMemberList">
  		select * from tbl_member
  	</select>
  </mapper>